:root {
  --primary-color: rgb(250, 251, 253);
  --secondary-color: #264867;
  --black: rgb(27, 27, 27);
  --white: #f1e6e6;
  --primary-font: "Familjen Grotesk", sans-serif;
  --secondary-font: "Satoshi", sans-serif;
  --spot-image: url("../assets/puntos.png");
  color-scheme: light dark;
}

*,
::before,
::after {
  box-sizing: content-box;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--secondary-font);
  color: var(--black);
  background: var(--white);
  zoom: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}

input,
button {
  font: inherit;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  body {
    max-width: 767px;
    max-height: 100%;
    min-zoom: 100vh;
    background: white;
  }
}
