.body-container {
  padding: 25px;
  width: fit-content;

  background: var(--primary-color);
}

.main-container {
  display: flex;
  flex-direction: row;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background-color: rgba(168, 215, 234, 0.988);
  transform-origin: 0%;
}

@media (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background: var(--primary-color);
  }

  .body-container {
    padding: 0;
  }
}
