.info-contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0 0 250px;
  gap: 25px;
  color: var(--black);
  width: 75%;
  padding: 20px;
  border-top: 1px solid black;
  justify-items: center;
}

.info-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: black;
}

.icon-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .info-contact {
    margin: 0;
    padding: 25px;
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
