@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.presentacion {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  gap: 50px;
  align-items: center;
}

.presentacion-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.presentacion__marca-personal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 100%;
}

.presentacion__img {
  border: 3px solid rgba(49, 48, 48, 0.7);
}

.presentacion__logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.presentacion__titulo {
  font-family: var(--primary-font);
  animation: slideIn 1s ease-in-out;
  font-size: 46px;
}

.presentacion__subtitulo {
  font-family: var(--secondary-font);
  font-size: 24px;
}

.presentacion__parrafo {
  font-family: var(--secondary-font);
  font-size: 18px;
}

.habilidades {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  gap: 20px;
}

.habilidades__titulo {
  font-family: var(--secondary-font);
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid black;
}

.habilidades__iconos {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 15px;
  padding: 15px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 767px) {
  .presentacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 25px;
  }

  .presentacion__marca-personal {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
  }

  .presentacion__logo {
    border-radius: 50%;
    width: 35%;
    height: 35%;
  }

  .habilidades {
    margin: 0;
    width: 100%;
    padding: 25px;
  }

  .habilidades__titulo {
    padding: 10px 0;
    font-size: 36px;
  }

  .habilidades__iconos {
    grid-template-columns: repeat(3, 3fr);
  }

  .presentacion__titulo {
    font-size: 52px;
  }

  .presentacion__subtitulo {
    font-size: 32px;
  }

  .presentacion__parrafo {
    font-size: 24px;
  }

  .presentacion__introduccion {
    font-size: 22px;
  }
}
