.projects {
  display: grid;
  margin: 25px 0 50px 250px;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
}

.projects-title {
  display: flex;
  margin: 25px 0 0 250px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.title-project {
  margin-top: 15px;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 26px;
}

.images-container {
  margin-bottom: 25px;
  border: 3px solid rgb(223, 223, 208);
  border-radius: 25px;
}

.container-project {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 25px;
  text-align: center;
}

.solid-icon-button {
  display: flex;
  border: hidden;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(223, 223, 208);
  margin: 15px;
  align-items: center;
}

.project-content {
  padding: 15px 0 0 0;
  min-height: 100vh;
}

.icon-button {
  display: flex;
  border: hidden;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(223, 223, 208);
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.buttons-container {
  display: flex;
}

@media (max-width: 767px) {
  .projects {
    margin: 0;
  }

  .projects-title {
    margin: 0;
    padding: 10px 0;
    font-size: 36px;
  }

  .project-content {
    padding: 25px;
    width: 100%;
  }
}
